{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'ept-paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'ept-paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'ept-quote-' ~ content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles,
  'paragraph-id-' ~ paragraph.id(),
]
%}

{% if content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles == 'persona' %}
  {{ attach_library('ept_quote/persona') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ept-container">
    {% if content.field_ept_title|render %}
      <h2>
        {{ content.field_ept_title }}
      </h2>
    {% endif %}
    <div class="persona_img">
    {{ content.field_ept_quote_image }}
    </div>
    <div class="persona_text">
    {{ content|without('field_ept_quote_image', 'field_ept_settings', 'field_ept_title') }}
    </div>
  </div>
</div>

{% elseif content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles == 'company' %}
  {{ attach_library('ept_quote/company') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ept-container">
    {% if content.field_ept_title|render %}
      <h2>
        {{ content.field_ept_title }}
      </h2>
    {% endif %}
    <div class= "company_img">
    {{ content.field_ept_quote_image }}
    </div>
    <div class="company_text">
      {{ content|without('field_ept_quote_image', 'field_ept_settings', 'field_ept_title') }}
    </div>
  </div>
</div>

{% elseif content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles == 'persona_with_small_icon' %}
  {{ attach_library('ept_quote/persona_with_small_icon') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ept-container">
    {% if content.field_ept_title|render %}
      <h2>
        {{ content.field_ept_title }}
      </h2>
    {% endif %}
    <div class= "persona_with_small_icon_text">
    <div class= "persona_with_small_icon_img_author">
      {{ content.field_ept_quote_image }}
      {{ content.field_ept_quote_author }}
    </div>
      {{ content|without('field_ept_quote_image', 'field_ept_quote_author', 'field_ept_settings', 'field_ept_title') }}
    </div>
  </div>
</div>

{% elseif content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles == 'with_square_image' %}
  {{ attach_library('ept_quote/with_square_image') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ept-container">
    {% if content.field_ept_title|render %}
      <h2>
        {{ content.field_ept_title }}
      </h2>
    {% endif %}
    <div class="with_square_img_main">
      <div class="square_img_text">
      {{ content|without('field_ept_quote_image', 'field_ept_settings', 'field_ept_title') }}
      </div>
      <div class="with_square_img">
      {{ content.field_ept_quote_image }}
      </div>
    </div>
  </div>
</div>

{% elseif content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles == 'with_frame_and_background_image' %}
  {{ attach_library('ept_quote/with_frame_and_background_image') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ept-container">
    {% if content.field_ept_title|render %}
      <h2>
        {{ content.field_ept_title }}
      </h2>
    {% endif %}
    <div class= "with_frame_main">
      <div class="with_frame_text">
      {{ content|without('field_ept_quote_image', 'field_ept_settings', 'field_ept_text') }}
      </div>
      {{ content.field_ept_quote_image }}
    </div>
  </div>
</div>

{% else %}
  {{ attach_library('ept_quote/persona') }}
  <div{{ attributes.addClass(classes) }}>
    <div class="bg-inner"></div>
    <div class="ept-container">
      {% if content.field_ept_title|render %}
        <h2>
          {{ content.field_ept_title }}
        </h2>
      {% endif %}
      <div class="persona_img">
        {{ content.field_ept_quote_image }}
      </div>
      <div class="persona_text">
        {{ content|without('field_ept_quote_image', 'field_ept_settings', 'field_ept_text') }}
      </div>
    </div>
  </div>
{% endif %}
{{ styles|raw }}
